@charset "UTF-8";

body {
    background: #e3e3e3;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.page-wrapper {
    box-sizing: border-box;
    width: 980px;
    margin: 50px auto;
    padding: 1em;
    background: #fff;
    border: 1px solid #a2a2a2;
}